@mixin image($media) {
  .object-fit-fill#{$media} {
    object-fit: fill;
  }
  .object-fit-contain#{$media} {
    object-fit: contain;
  }
  .object-fit-cover#{$media} {
    object-fit: cover;
  }
  .object-fit-none#{$media} {
    object-fit: none;
  }
  .object-fit-scale-down#{$media} {
    object-fit: scale-down;
  }

  .object-position-l#{$media} {
    object-position: left left;
  }
  .object-position-lc#{$media} {
    object-position: left center;
  }
  .object-position-lr#{$media} {
    object-position: left right;
  }

  .object-position-cl#{$media} {
    object-position: center left;
  }
  .object-position-c#{$media} {
    object-position: center center;
  }
  .object-position-cr#{$media} {
    object-position: center right;
  }

  .object-position-rl#{$media} {
    object-position: right left;
  }
  .object-position-rc#{$media} {
    object-position: right center;
  }
  .object-position-r#{$media} {
    object-position: right right;
  }
}

@include image("");

@media screen and (max-width: $width-media--d - 1) {
  @include image("--m");
}

@media screen and (min-width: $width-media--d) {
  @include image("--d");
}
