@mixin overflow($media) {
    .overflow {
        &-auto#{$media} { overflow: auto; }
        &-hidden#{$media} { overflow: hidden; }
        &-scroll#{$media} { overflow: scroll; }
        &-visible#{$media} { overflow: visible; }
        
        &-x-auto#{$media} { overflow-x: auto; }
        &-x-hidden#{$media} { overflow-x: hidden; }
        &-x-scroll#{$media} { overflow-x: scroll; }
        &-x-visible#{$media} { overflow-x: visible; }
        
        &-y-auto#{$media} { overflow-y: auto; }
        &-y-hidden#{$media} { overflow-y: hidden; }
        &-y-scroll#{$media} { overflow-y: scroll; }
        &-y-visible#{$media} { overflow-y: visible; }
    }
}

@include overflow('');

@media screen and (max-width: $width-media--d - 1) {
    @include overflow('--m');
}

@media screen and (min-width: $width-media--d) {
    @include overflow('--d');
}