$color: (
    ("gray", 0, 0, 16),
    ("gray", 0, 0, 32),
    ("gray", 0, 0, 48),
    ("gray", 0, 0, 64),
    ("gray", 0, 0, 88),
    ("gray", 0, 0, 96),

    ("primary", 272, 76, 16),
    ("primary", 272, 76, 32),
    ("primary", 272, 76, 48),
    ("primary", 272, 76, 64),
    ("primary", 272, 76, 88),
    ("primary", 272, 76, 96),

    ("secondary", 45, 94, 16),
    ("secondary", 45, 94, 32),
    ("secondary", 45, 94, 48),
    ("secondary", 45, 94, 64),
    ("secondary", 45, 94, 88),
    ("secondary", 45, 94, 96),

    ("safe", 90, 71, 16),
    ("safe", 90, 71, 32),
    ("safe", 90, 71, 48),
    ("safe", 90, 71, 64),
    ("safe", 90, 71, 88),
    ("safe", 90, 71, 96),

    ("unsafe", 332, 76, 16),
    ("unsafe", 332, 76, 32),
    ("unsafe", 332, 76, 48),
    ("unsafe", 332, 76, 64),
    ("unsafe", 332, 76, 88),
    ("unsafe", 332, 76, 96)
);

.color-0 { color: #000; }
.color-100 { color: #fff; }
@each $color, $h, $s, $l in $color {
    .color-#{$color}-#{$l} { color: hsl($h, $s, $l); }
}

.bg_color-0 { background-color: #000; }
.bg_color-100 { background-color: #fff; }
@each $color, $h, $s, $l in $color {
    .bg_color-#{$color}-#{$l} { background-color: hsl($h, $s, $l); }
}