.margin-x-auto { margin-left: auto; margin-right: auto; }

@each $margin in $negative { .margin-n#{$margin} { margin: -#{$margin}px; } }
@each $margin in $positive { .margin-#{$margin} { margin: #{$margin}px; } }

@each $margin in $negative { .margin-t-n#{$margin} { margin-top: -#{$margin}px; } }
@each $margin in $positive { .margin-t-#{$margin} { margin-top: #{$margin}px; } }

@each $margin in $negative { .margin-r-n#{$margin} { margin-right: -#{$margin}px; } }
@each $margin in $positive { .margin-r-#{$margin} { margin-right: #{$margin}px; } }

@each $margin in $negative { .margin-b-n#{$margin} { margin-bottom: -#{$margin}px; } }
@each $margin in $positive { .margin-b-#{$margin} { margin-bottom: #{$margin}px; } }

@each $margin in $negative { .margin-l-n#{$margin} { margin-left: -#{$margin}px; } }
@each $margin in $positive { .margin-l-#{$margin} { margin-left: #{$margin}px; } }

@each $margin in $negative {
    .margin-x-n#{$margin} {
        margin-left: -#{$margin}px;
        margin-right: -#{$margin}px;
    }
}

@each $margin in $positive {
    .margin-x-#{$margin} {
        margin-left: #{$margin}px;
        margin-right: #{$margin}px;
    }
}

@each $margin in $negative {
    .margin-y-n#{$margin} {
        margin-bottom: -#{$margin}px;
        margin-top: -#{$margin}px;
    }
}

@each $margin in $positive {
    .margin-y-#{$margin} {
        margin-bottom: #{$margin}px;
        margin-top: #{$margin}px;
    }
}

@media screen and (max-width: $desktop-width - 1) {
    .margin-x-auto--m { margin-left: auto; margin-right: auto; }

    @each $margin in $negative { .margin-n#{$margin}--m { margin: -#{$margin}px; } }
    @each $margin in $positive { .margin-#{$margin}--m { margin: #{$margin}px; } }
    
    @each $margin in $negative { .margin-t-n#{$margin}--m { margin-top: -#{$margin}px; } }
    @each $margin in $positive { .margin-t-#{$margin}--m { margin-top: #{$margin}px; } }
    
    @each $margin in $negative { .margin-r-n#{$margin}--m { margin-right: -#{$margin}px; } }
    @each $margin in $positive { .margin-r-#{$margin}--m { margin-right: #{$margin}px; } }
    
    @each $margin in $negative { .margin-b-n#{$margin}--m { margin-bottom: -#{$margin}px; } }
    @each $margin in $positive { .margin-b-#{$margin}--m { margin-bottom: #{$margin}px; } }
    
    @each $margin in $negative { .margin-l-n#{$margin}--m { margin-left: -#{$margin}px; } }
    @each $margin in $positive { .margin-l-#{$margin}--m { margin-left: #{$margin}px; } }
    
    @each $margin in $negative {
        .margin-x-n#{$margin}--m {
            margin-left: -#{$margin}px;
            margin-right: -#{$margin}px;
        }
    }
    
    @each $margin in $positive {
        .margin-x-#{$margin}--m {
            margin-left: #{$margin}px;
            margin-right: #{$margin}px;
        }
    }
    
    @each $margin in $negative {
        .margin-y-n#{$margin}--m {
            margin-bottom: -#{$margin}px;
            margin-top: -#{$margin}px;
        }
    }
    
    @each $margin in $positive {
        .margin-y-#{$margin}--m {
            margin-bottom: #{$margin}px;
            margin-top: #{$margin}px;
        }
    }
}

@media screen and (min-width: $desktop-width) {
    .margin-x-auto--d { margin-left: auto; margin-right: auto; }

    @each $margin in $negative { .margin-n#{$margin}--d { margin: -#{$margin}px; } }
    @each $margin in $positive { .margin-#{$margin}--d { margin: #{$margin}px; } }

    @each $margin in $negative { .margin-t-n#{$margin}--d { margin-top: -#{$margin}px; } }
    @each $margin in $positive { .margin-t-#{$margin}--d { margin-top: #{$margin}px; } }

    @each $margin in $negative { .margin-r-n#{$margin}--d { margin-right: -#{$margin}px; } }
    @each $margin in $positive { .margin-r-#{$margin}--d { margin-right: #{$margin}px; } }

    @each $margin in $negative { .margin-b-n#{$margin}--d { margin-bottom: -#{$margin}px; } }
    @each $margin in $positive { .margin-b-#{$margin}--d { margin-bottom: #{$margin}px; } }

    @each $margin in $negative { .margin-l-n#{$margin}--d { margin-left: -#{$margin}px; } }
    @each $margin in $positive { .margin-l-#{$margin}--d { margin-left: #{$margin}px; } }

    @each $margin in $negative {
        .margin-x-n#{$margin}--d {
            margin-left: -#{$margin}px;
            margin-right: -#{$margin}px;
        }
    }

    @each $margin in $positive {
        .margin-x-#{$margin}--d {
            margin-left: #{$margin}px;
            margin-right: #{$margin}px;
        }
    }

    @each $margin in $negative {
        .margin-y-n#{$margin}--d {
            margin-bottom: -#{$margin}px;
            margin-top: -#{$margin}px;
        }
    }

    @each $margin in $positive {
        .margin-y-#{$margin}--d {
            margin-bottom: #{$margin}px;
            margin-top: #{$margin}px;
        }
    }
}