@mixin fontSize($size, $important: '') {
    font-size: $size #{$important};
    @if $size < 16 { line-height: 16px #{$important}; } @else { line-height: $size + 8 #{$important}; }
}

@function autoIndent($padding) {
    @return calc(((100% - #{$large-desktop-width}) / 2) + #{$padding});
}