.overflow-auto { overflow: auto; }
.overflow-hidden { overflow: hidden; }
.overflow-scroll { overflow: scroll; }
.overflow-visible { overflow: visible; }

.overflow-x-auto { overflow-x: auto; }
.overflow-x-hidden { overflow-x: hidden; }
.overflow-x-scroll { overflow-x: scroll; }
.overflow-x-visible { overflow-x: visible; }

.overflow-y-auto { overflow-y: auto; }
.overflow-y-hidden { overflow-y: hidden; }
.overflow-y-scroll { overflow-y: scroll; }
.overflow-y-visible { overflow-y: visible; }

@media screen and (max-width: $desktop-width - 1) {
    .overflow-auto--m { overflow: auto; }
    .overflow-hidden--m { overflow: hidden; }
    .overflow-scroll--m { overflow: scroll; }
    .overflow-visible--m { overflow: visible; }

    .overflow-x-auto--m { overflow-x: auto; }
    .overflow-x-hidden--m { overflow-x: hidden; }
    .overflow-x-scroll--m { overflow-x: scroll; }
    .overflow-x-visible--m { overflow-x: visible; }

    .overflow-y-auto--m { overflow-y: auto; }
    .overflow-y-hidden--m { overflow-y: hidden; }
    .overflow-y-scroll--m { overflow-y: scroll; }
    .overflow-y-visible--m { overflow-y: visible; }
}

@media screen and (min-width: $desktop-width) {
    .overflow-auto--d { overflow: auto; }
    .overflow-hidden--d { overflow: hidden; }
    .overflow-scroll--d { overflow: scroll; }
    .overflow-visible--d { overflow: visible; }

    .overflow-x-auto--d { overflow-x: auto; }
    .overflow-x-hidden--d { overflow-x: hidden; }
    .overflow-x-scroll--d { overflow-x: scroll; }
    .overflow-x-visible--d { overflow-x: visible; }

    .overflow-y-auto--d { overflow-y: auto; }
    .overflow-y-hidden--d { overflow-y: hidden; }
    .overflow-y-scroll--d { overflow-y: scroll; }
    .overflow-y-visible--d { overflow-y: visible; }
}