* {
    box-sizing: border-box;
    outline: none;
    -webkit-tap-highlight-color: rgba(#000000, 0);
}

body {
    margin: 0;
    min-height: 100vh;
    width: 100%;
}

button, .button {
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    font-family: inherit;
    justify-content: center;
    margin: 0;
    min-height: 40px;
    min-width: 40px;
    padding: 0;
    user-select: none;

    @include fontSize(16px);

    &:disabled { 
        cursor: default;
    }
}

html {
    font-family: sans-serif;

    @include fontSize(16px);
}

h1, h2, h3, p, small { margin: 0; }

h1 { @include fontSize(40px); }
h2 { @include fontSize(32px); }
h3 { @include fontSize(24px); }
p { @include fontSize(16px); }
small { @include fontSize(14px); }

input, textarea {
    background: none;
    border: none;
    display: block;
    font-family: inherit;
    margin: 0;
    padding: 0;

    -moz-appearance: textfield;

    &:disabled {
        opacity: 1;
    }

    @include fontSize(16px);
}

// Remove default input style
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button,
input {
    -webkit-appearance: none;
}

// Remove Safari's interesting margin setting for input
input::-webkit-date-and-time-value {
    margin: 0px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}