.touch {
    &-auto { touch-action: auto; }
    &-none { touch-action: none; }
    &-x { touch-action: pan-x; }
    &-l { touch-action: pan-left; }
    &-r { touch-action: pan-right; }
    &-y { touch-action: pan-y; }
    &-up { touch-action: pan-up; }
    &-down { touch-action: pan-down; }
    &-pinch { touch-action: pinch-zoom; }
    &-manipulation { touch-action: manipulation; }
}

@media screen and (max-width: $desktop-width - 1) {
    .touch {
        &-auto--m { touch-action: auto; }
        &-none--m { touch-action: none; }
        &-x--m { touch-action: pan-x; }
        &-l--m { touch-action: pan-left; }
        &-r--m { touch-action: pan-right; }
        &-y--m { touch-action: pan-y; }
        &-up--m { touch-action: pan-up; }
        &-down--m { touch-action: pan-down; }
        &-pinch--m { touch-action: pinch-zoom; }
        &-manipulation--m { touch-action: manipulation; }
    }
}

@media screen and (min-width: $desktop-width) {
    .touch {
        &-auto--d { touch-action: auto; }
        &-none--d { touch-action: none; }
        &-x--d { touch-action: pan-x; }
        &-l--d { touch-action: pan-left; }
        &-r--d { touch-action: pan-right; }
        &-y--d { touch-action: pan-y; }
        &-up--d { touch-action: pan-up; }
        &-down--d { touch-action: pan-down; }
        &-pinch--d { touch-action: pinch-zoom; }
        &-manipulation--d { touch-action: manipulation; }
    }
}