// list for margin & padding
$positive: 2, 4, 8, 16, 24, 32, 40, 48, 56, 64, 72, 80;
$negative: $positive;
$positive: join(0, $positive);
$opacity: 0, 8, 16, 24, 32, 40, 48, 56, 64, 72, 80, 88, 96, 100;
$order: -1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9;
$size: 25, 33, 50, 66, 75, 100;
$filter: 0, 1, 2, 3, 4, 5, 6, 7, 8, 9;

$desktop-width: 768px;
$large-desktop-width: 1280;

$text-width: 448px;